server:
  port: 8080

spring:
  profiles:
    active: local
    servlet:
      multipart:
        enabled: true
        max-file-size: 10MB
        max-request-size: 10MB

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/global_ship
    username: admin
    password: admin

  jpa:
    open-in-view: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        default_batch_fetch_size: 1000

security:
  jwt:
    secret: hschurchhschurch
    access-token-ttl-seconds: 3600
    refresh-token-ttl-seconds: 86400

aws:
  s3:
    bucket: hsbapch-storage
    region: ap-northeast-2
    access-key: AKIA6HW5JCWPYWBQXTOL
    secret-key: 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